body{
  background: #FFCC00;
}
nav{
  background:purple;
  color:white;
}
nav a{
  color:white;
}
.urgent {
  background: white;
  font-style: bold;
  font-size: 2em;
  color: red;
}

.dumb {
  background:yellow;
  color:purple;
}

.responsive{
  max-width: 100%
}

.sidebyside img{
  max-width: 48%
}
@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}
